<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/s2.css" type="text/css">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

  <link rel="stylesheet" href="../css/login.css" />
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand font-weight-bold"><i class="fas fa-tshirt"></i> Classy Creations</a>

      <div class="collapse navbar-collapse justify-content-end " id="navbarNavAltMarkup">
        <div class="navbar-nav  justify-items-stretch ">
         
          
          <a class="nav-link" href="/" target="_self">HOME</a>
          <a class="nav-link active" href="/product" tabindex="-1" aria-disabled="true">ITEM CATALOG</a>

          <a class="nav-link" href="aboutUs.html" tabindex="-1" aria-disabled="true">ABOUT US</a>
          <% if (true) { %>
            <a class="nav-link" href="/product/admin" tabindex="-1" aria-disabled="true">Store</a>
          <% } %>
         
        </div>
      </div>
  </nav>
  <% if (error) { %>
    <div class="error">
      <%= error %>
    </div>
    <% } %>
      <div class="login-page" action="#!">

        <div class="form">

          <form class="login-form" action="/login" method="POST">
            <h2 class="loginTitle">Login</h2>
            <input id="username" type="email" placeholder="Type you email" name="username" reqiured />
            <input id="password" type="password" placeholder="password" name="password" reqiured />
            <button class="loginButton" type="submit" onClick="this.classList.add('processing')">
              <span class="loginName">login</span>
              <svg class="formLoader" version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100"
                enable-background="new 0 0 0 0" xml:space="preserve">
                <path fill="#fff"
                  d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50"
                  transform="rotate(340.884 50 50)">
                  <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50"
                    to="360 50 50" repeatCount="indefinite"></animateTransform>
                </path>
              </svg>
            </button>

            <p class="message">
              Not registered? <a href="/user/signup">Create an account</a>
            </p>
          </form>
        </div>
      </div>
</body>

</html>